*.toml
faultyFiles.txt
src/common/contextManagers.py
#*.md
__p*
.tox
src/*__p*
src/common/*__p*
src/dran26*
src/predefs/__p**
#src/dran*
#*.py
#*.rst
*.json
.git*
#*.dat
plots
currentScanPlots
build
dist
HART26DATA.db
.vscode
test.py
.git*
logfile*
code*
dran.py
*.csv
src/docs
src/_cli.py
quick*