*.toml
dist/*tar*
faultyFiles*
src/common/contextManagers.py
__p*
.tox
src/*__p*
src/common/*__p*
src/dran26*
src/predefs/__p**
*.json
.git*
plots
currentScanPlots
build
HART26DATA.db
.vscode
test.py
.git*
logfile*
code*
dran.py
*.csv
src/_cli.py
quickview*
temp.html
*.db
tables/
results*
done/
moveToBootes.py
source_data.zip
source_data/
dran-workflow.key
wrongpats.txt
reqs.txt
src/dran.egg-info
src/dran2.egg-info
dist/*
test.py
moveToBootes.py
processed*
old*
wrong*
dist*
src/dran.egg-info
build_dran_package.py
setup0.py
src/dran2/gui/