*.toml
dist/*tar*
faultyFiles.txt
src/common/contextManagers.py
__p*
.tox
src/*__p*
src/common/*__p*
src/dran26*
src/predefs/__p**
*.json
.git*
plots
currentScanPlots
build
HART26DATA.db
.vscode
test.py
.git*
logfile*
code*
dran.py
*.csv
src/_cli.py
quick*
